<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="business.mapper.PersonnelSalaryMapper">
    <select id="getPersonnelSalary" resultType="business.vo.PersonnelSalaryVO">
        select t1.*,t2.hr_name,v1.welfare_amount_salaries,v1.welfare_amount_bonus,v1.welfare_amount_weal
        from personnel_salary t1
        left join hrp_fst.ad_employee_v@hr_test t2 on t1.workcode =t2.hr_no
        left join (select workcode,welfare_date,sum(welfare_amount_salaries) welfare_amount_salaries,sum(welfare_amount_bonus) welfare_amount_bonus,sum(welfare_amount_weal) welfare_amount_weal from personnel_welfare group by workcode,welfare_date) v1
        on t1.salary_date = v1.welfare_date and t1.workcode = v1.workcode
        ${ew.customSqlSegment}
    </select>

    <select id="getSalaryBetweenMonth" resultType="Map">
        select sum(NET_SALARY) NET_SALARY,SALARY_DATE from personnel_salary where 1=1
        <if test="endDate != null">
            and SALARY_DATE &lt;= #{endDate}
        </if>
        <if test="staDate != null">
            and SALARY_DATE &gt;= #{staDate}
        </if>
        group by SALARY_DATE
        ORDER BY SALARY_DATE
    </select>

    <select id="getSalaryByMonth" resultType="Map">
        select sum(NET_SALARY) NET_SALARY,SALARY_DATE from personnel_salary where SALARY_DATE = #{month}
        group by SALARY_DATE
    </select>

    <select id="getImportNumberByMonth" resultType="Map">
        select count(*) IMPORT_NUMBER,SALARY_DATE from personnel_salary where SALARY_DATE = #{month}
        group by SALARY_DATE
    </select>

    <select id="getSalaryRankByDepartment" resultType="Map">
        select u1.totalnumber,u2.departmentname
        from (
            select sum(t1.NET_SALARY) totalnumber,t2.DEPARTMENTID
            from PERSONNEL_SALARY t1
            left join HRMRESOURCE t2 on t1.WORKCODE = t2.WORKCODE
            group by t2.DEPARTMENTID
            ORDER BY totalnumber desc) u1
        left join HrmDepartment u2 on u1.departmentid = u2.id
        where u2.id is not null and rownum &lt;9
    </select>

    <select id="getMonthlyLaborCost" resultType="Map">
        select count(workcode) hrm_number,
            sum(gross_pay) gross_pay,
            sum(unemploy_insurance) unemploy_insurance,
            sum(housepovident_fund) housepovident_fund
        from personnel_salary
        where salary_date = #{month}
    </select>

    <select id="getMonthlyLaborCostByDeptCode" resultType="business.vo.excel.ExcelDepartMonthDeptDetail">
        select m.imonth salary_date,top_code depart_code,depart_name,
        nvl(sum(user_count), 0) user_count,
        nvl(sum(gross_pay), 0) salary,
        nvl(sum(welfare_amount_salaries), 0) other_salary,
        nvl(sum(welfare_amount_bonus), 0) year_total,
        nvl(sum(welfare_amount_weal), 0) flf,
        nvl(sum(unemploy_insurance), 0) * #{rate} +nvl(sum(housepovident_fund), 0) gjj,
        nvl(sum(unemploy_insurance), 0) * #{rate} +nvl(sum(housepovident_fund), 0)+nvl(sum(gross_pay), 0)+nvl(sum(welfare_amount_salaries), 0)+nvl(sum(welfare_amount_bonus), 0)+nvl(sum(welfare_amount_weal), 0) total
        from (
        select depart_code,#{code1} top_code,'组装一期' depart_name,'A1' par_depart_name,'1' depart_sort
        from HRP_FST.AD_DEPART_V@HR_TEST
        start with depart_code = #{code1}
        connect by prior depart_code=parentcode
        union all
        select depart_code,#{code2} top_code,'测试一期' depart_name,'A1' par_depart_name,'2' depart_sort
        from HRP_FST.AD_DEPART_V@HR_TEST
        start with depart_code = #{code2}
        connect by prior depart_code=parentcode
        union all
        select depart_code,#{code3} top_code,'组装二期' depart_name,'A1' par_depart_name,'3' depart_sort
        from HRP_FST.AD_DEPART_V@HR_TEST
        start with depart_code = #{code3}
        connect by prior depart_code=parentcode
        union all
        select depart_code,#{code4} top_code,'测试二期' depart_name,'4' depart_sort
        from HRP_FST.AD_DEPART_V@HR_TEST
        start with depart_code = #{code4}
        connect by prior depart_code=parentcode
        union all
        select depart_code,#{code5} top_code,'组装三期' depart_name,'5' depart_sort
        from HRP_FST.AD_DEPART_V@HR_TEST
        start with depart_code = #{code5}
        connect by prior depart_code=parentcode
        union all
        select depart_code,#{code6} top_code,'测试三期' depart_name,'6' depart_sort
        from HRP_FST.AD_DEPART_V@HR_TEST
        start with depart_code = #{code6}
        connect by prior depart_code=parentcode
        union all
        select depart_code,#{code7} top_code,'圆片级封装部' depart_name,'7' depart_sort
        from HRP_FST.AD_DEPART_V@HR_TEST
        start with depart_code = #{code7}
        connect by prior depart_code=parentcode
        union all
        select depart_code,#{code8} top_code,'表面处理中心' depart_name,'8' depart_sort
        from HRP_FST.AD_DEPART_V@HR_TEST
        start with depart_code = #{code8}
        connect by prior depart_code=parentcode
        ) d left join (
        select to_char(add_months(trunc(to_date(#{year},'yyyy'),'yyyy'),level-1),'yyyy-mm') imonth from dual connect by level &lt;=12
        ) m on 1=1
        left join (
        select
        depart_code,salary_date,
        nvl(count(workcode), 0) user_count,
        nvl(sum(gross_pay), 0) gross_pay,
        nvl(sum(unemploy_insurance), 0) unemploy_insurance,
        nvl(sum(housepovident_fund), 0) housepovident_fund,
        nvl(sum(welfare_amount_salaries), 0) welfare_amount_salaries,
        nvl(sum(welfare_amount_bonus), 0) welfare_amount_bonus,
        nvl(sum(welfare_amount_weal), 0) welfare_amount_weal
        from (
        select t2.depart_code,t1.*,v1.welfare_amount_salaries,v1.welfare_amount_bonus,v1.welfare_amount_weal
        from personnel_salary t1
        left join hrp_fst.ad_employee_v@hr_test t2 on t1.workcode = t2.hr_no
        left join (
        select workcode,welfare_date,
        sum(welfare_amount_salaries) welfare_amount_salaries,
        sum(welfare_amount_bonus) welfare_amount_bonus,
        sum(welfare_amount_weal) welfare_amount_weal
        from personnel_welfare
        group by workcode,welfare_date
        ) v1
        on t1.salary_date = v1.welfare_date and t1.workcode = v1.workcode
        ) group by depart_code,salary_date
        ) t on t.salary_date = m.imonth and t.depart_code = d.depart_code
        group by imonth,top_code,depart_name,depart_sort order by imonth,depart_sort
    </select>

    <select id="getYearlyLaborCost" resultType="Map">
        select count(workcode) hrm_number,
            sum(gross_pay) gross_pay,
            sum(unemploy_insurance) unemploy_insurance,
            sum(housepovident_fund) housepovident_fund
        from personnel_salary
        where salary_date like concat(#{year},'-%')
    </select>

    <select id="getMonthlyLaborCostByDept" resultType="business.vo.excel.MonthlyLaborCostByDeptVo">
        SELECT T1.DEPART_CODE,T1.DEPART_NAME,
        CASE WHEN JAN.HRM_NUMBER IS NULL THEN 0 ELSE JAN.HRM_NUMBER END JAN_HRM_NUMBER,
        CASE WHEN JAN.GROSS_PAY IS NULL THEN 0 ELSE JAN.GROSS_PAY END JAN_GROSS_PAY,
        CASE WHEN JAN.UNEMPLOY_INSURANCE IS NULL THEN 0 ELSE JAN.UNEMPLOY_INSURANCE END JAN_UNEMPLOY_INSURANCE,
        CASE WHEN JAN.HOUSEPOVIDENT_FUND IS NULL THEN 0 ELSE JAN.HOUSEPOVIDENT_FUND END JAN_HOUSEPOVIDENT_FUND,
        CASE WHEN JAN.WELFARE_AMOUNT_SALARIES IS NULL THEN 0 ELSE JAN.WELFARE_AMOUNT_SALARIES END JAN_WELFARE_AMOUNT_SALARIES,
        CASE WHEN JAN.WELFARE_AMOUNT_BONUS IS NULL THEN 0 ELSE JAN.WELFARE_AMOUNT_BONUS END JAN_WELFARE_AMOUNT_BONUS,
        CASE WHEN JAN.WELFARE_AMOUNT_WEAL IS NULL THEN 0 ELSE JAN.WELFARE_AMOUNT_WEAL END JAN_WELFARE_AMOUNT_WEAL,
        CASE WHEN JAN.IAF IS NULL THEN 0 ELSE JAN.IAF END JAN_IAF,
        CASE WHEN JAN.SUBTOTAL IS NULL THEN 0 ELSE JAN.SUBTOTAL END JAN_SUBTOTAL,
        CASE WHEN FEB.HRM_NUMBER IS NULL THEN 0 ELSE FEB.HRM_NUMBER END FEB_HRM_NUMBER,
        CASE WHEN FEB.GROSS_PAY IS NULL THEN 0 ELSE FEB.GROSS_PAY END FEB_GROSS_PAY,
        CASE WHEN FEB.UNEMPLOY_INSURANCE IS NULL THEN 0 ELSE FEB.UNEMPLOY_INSURANCE END FEB_UNEMPLOY_INSURANCE,
        CASE WHEN FEB.HOUSEPOVIDENT_FUND IS NULL THEN 0 ELSE FEB.HOUSEPOVIDENT_FUND END FEB_HOUSEPOVIDENT_FUND,
        CASE WHEN FEB.WELFARE_AMOUNT_SALARIES IS NULL THEN 0 ELSE FEB.WELFARE_AMOUNT_SALARIES END FEB_WELFARE_AMOUNT_SALARIES,
        CASE WHEN FEB.WELFARE_AMOUNT_BONUS IS NULL THEN 0 ELSE FEB.WELFARE_AMOUNT_BONUS END FEB_WELFARE_AMOUNT_BONUS,
        CASE WHEN FEB.WELFARE_AMOUNT_WEAL IS NULL THEN 0 ELSE FEB.WELFARE_AMOUNT_WEAL END FEB_WELFARE_AMOUNT_WEAL,
        CASE WHEN FEB.IAF IS NULL THEN 0 ELSE FEB.IAF END FEB_IAF,
        CASE WHEN FEB.SUBTOTAL IS NULL THEN 0 ELSE FEB.SUBTOTAL END FEB_SUBTOTAL,
        CASE WHEN MAR.HRM_NUMBER IS NULL THEN 0 ELSE MAR.HRM_NUMBER END MAR_HRM_NUMBER,
        CASE WHEN MAR.GROSS_PAY IS NULL THEN 0 ELSE MAR.GROSS_PAY END MAR_GROSS_PAY,
        CASE WHEN MAR.UNEMPLOY_INSURANCE IS NULL THEN 0 ELSE MAR.UNEMPLOY_INSURANCE END MAR_UNEMPLOY_INSURANCE,
        CASE WHEN MAR.HOUSEPOVIDENT_FUND IS NULL THEN 0 ELSE MAR.HOUSEPOVIDENT_FUND END MAR_HOUSEPOVIDENT_FUND,
        CASE WHEN MAR.WELFARE_AMOUNT_SALARIES IS NULL THEN 0 ELSE MAR.WELFARE_AMOUNT_SALARIES END MAR_WELFARE_AMOUNT_SALARIES,
        CASE WHEN MAR.WELFARE_AMOUNT_BONUS IS NULL THEN 0 ELSE MAR.WELFARE_AMOUNT_BONUS END MAR_WELFARE_AMOUNT_BONUS,
        CASE WHEN MAR.WELFARE_AMOUNT_WEAL IS NULL THEN 0 ELSE MAR.WELFARE_AMOUNT_WEAL END MAR_WELFARE_AMOUNT_WEAL,
        CASE WHEN MAR.IAF IS NULL THEN 0 ELSE MAR.IAF END MAR_IAF,
        CASE WHEN MAR.SUBTOTAL IS NULL THEN 0 ELSE MAR.SUBTOTAL END MAR_SUBTOTAL,
        CASE WHEN APR.HRM_NUMBER IS NULL THEN 0 ELSE APR.HRM_NUMBER END APR_HRM_NUMBER,
        CASE WHEN APR.GROSS_PAY IS NULL THEN 0 ELSE APR.GROSS_PAY END APR_GROSS_PAY,
        CASE WHEN APR.UNEMPLOY_INSURANCE IS NULL THEN 0 ELSE APR.UNEMPLOY_INSURANCE END APR_UNEMPLOY_INSURANCE,
        CASE WHEN APR.HOUSEPOVIDENT_FUND IS NULL THEN 0 ELSE APR.HOUSEPOVIDENT_FUND END APR_HOUSEPOVIDENT_FUND,
        CASE WHEN APR.WELFARE_AMOUNT_SALARIES IS NULL THEN 0 ELSE APR.WELFARE_AMOUNT_SALARIES END APR_WELFARE_AMOUNT_SALARIES,
        CASE WHEN APR.WELFARE_AMOUNT_BONUS IS NULL THEN 0 ELSE APR.WELFARE_AMOUNT_BONUS END APR_WELFARE_AMOUNT_BONUS,
        CASE WHEN APR.WELFARE_AMOUNT_WEAL IS NULL THEN 0 ELSE APR.WELFARE_AMOUNT_WEAL END APR_WELFARE_AMOUNT_WEAL,
        CASE WHEN APR.IAF IS NULL THEN 0 ELSE APR.IAF END APR_IAF,
        CASE WHEN APR.SUBTOTAL IS NULL THEN 0 ELSE APR.SUBTOTAL END APR_SUBTOTAL,
        CASE WHEN MAY.HRM_NUMBER IS NULL THEN 0 ELSE MAY.HRM_NUMBER END MAY_HRM_NUMBER,
        CASE WHEN MAY.GROSS_PAY IS NULL THEN 0 ELSE MAY.GROSS_PAY END MAY_GROSS_PAY,
        CASE WHEN MAY.UNEMPLOY_INSURANCE IS NULL THEN 0 ELSE MAY.UNEMPLOY_INSURANCE END MAY_UNEMPLOY_INSURANCE,
        CASE WHEN MAY.HOUSEPOVIDENT_FUND IS NULL THEN 0 ELSE MAY.HOUSEPOVIDENT_FUND END MAY_HOUSEPOVIDENT_FUND,
        CASE WHEN MAY.WELFARE_AMOUNT_SALARIES IS NULL THEN 0 ELSE MAY.WELFARE_AMOUNT_SALARIES END MAY_WELFARE_AMOUNT_SALARIES,
        CASE WHEN MAY.WELFARE_AMOUNT_BONUS IS NULL THEN 0 ELSE MAY.WELFARE_AMOUNT_BONUS END MAY_WELFARE_AMOUNT_BONUS,
        CASE WHEN MAY.WELFARE_AMOUNT_WEAL IS NULL THEN 0 ELSE MAY.WELFARE_AMOUNT_WEAL END MAY_WELFARE_AMOUNT_WEAL,
        CASE WHEN MAY.IAF IS NULL THEN 0 ELSE MAY.IAF END MAY_IAF,
        CASE WHEN MAY.SUBTOTAL IS NULL THEN 0 ELSE MAY.SUBTOTAL END MAY_SUBTOTAL,
        CASE WHEN JUN.HRM_NUMBER IS NULL THEN 0 ELSE JUN.HRM_NUMBER END JUN_HRM_NUMBER,
        CASE WHEN JUN.GROSS_PAY IS NULL THEN 0 ELSE JUN.GROSS_PAY END JUN_GROSS_PAY,
        CASE WHEN JUN.UNEMPLOY_INSURANCE IS NULL THEN 0 ELSE JUN.UNEMPLOY_INSURANCE END JUN_UNEMPLOY_INSURANCE,
        CASE WHEN JUN.HOUSEPOVIDENT_FUND IS NULL THEN 0 ELSE JUN.HOUSEPOVIDENT_FUND END JUN_HOUSEPOVIDENT_FUND,
        CASE WHEN JUN.WELFARE_AMOUNT_SALARIES IS NULL THEN 0 ELSE JUN.WELFARE_AMOUNT_SALARIES END JUN_WELFARE_AMOUNT_SALARIES,
        CASE WHEN JUN.WELFARE_AMOUNT_BONUS IS NULL THEN 0 ELSE JUN.WELFARE_AMOUNT_BONUS END JUN_WELFARE_AMOUNT_BONUS,
        CASE WHEN JUN.WELFARE_AMOUNT_WEAL IS NULL THEN 0 ELSE JUN.WELFARE_AMOUNT_WEAL END JUN_WELFARE_AMOUNT_WEAL,
        CASE WHEN JUN.IAF IS NULL THEN 0 ELSE JUN.IAF END JUN_IAF,
        CASE WHEN JUN.SUBTOTAL IS NULL THEN 0 ELSE JUN.SUBTOTAL END JUN_SUBTOTAL,
        CASE WHEN JUL.HRM_NUMBER IS NULL THEN 0 ELSE JUL.HRM_NUMBER END JUL_HRM_NUMBER,
        CASE WHEN JUL.GROSS_PAY IS NULL THEN 0 ELSE JUL.GROSS_PAY END JUL_GROSS_PAY,
        CASE WHEN JUL.UNEMPLOY_INSURANCE IS NULL THEN 0 ELSE JUL.UNEMPLOY_INSURANCE END JUL_UNEMPLOY_INSURANCE,
        CASE WHEN JUL.HOUSEPOVIDENT_FUND IS NULL THEN 0 ELSE JUL.HOUSEPOVIDENT_FUND END JUL_HOUSEPOVIDENT_FUND,
        CASE WHEN JUL.WELFARE_AMOUNT_SALARIES IS NULL THEN 0 ELSE JUL.WELFARE_AMOUNT_SALARIES END JUL_WELFARE_AMOUNT_SALARIES,
        CASE WHEN JUL.WELFARE_AMOUNT_BONUS IS NULL THEN 0 ELSE JUL.WELFARE_AMOUNT_BONUS END JUL_WELFARE_AMOUNT_BONUS,
        CASE WHEN JUL.WELFARE_AMOUNT_WEAL IS NULL THEN 0 ELSE JUL.WELFARE_AMOUNT_WEAL END JUL_WELFARE_AMOUNT_WEAL,
        CASE WHEN JUL.IAF IS NULL THEN 0 ELSE JUL.IAF END JUL_IAF,
        CASE WHEN JUL.SUBTOTAL IS NULL THEN 0 ELSE JUL.SUBTOTAL END JUL_SUBTOTAL,
        CASE WHEN AUG.HRM_NUMBER IS NULL THEN 0 ELSE AUG.HRM_NUMBER END AUG_HRM_NUMBER,
        CASE WHEN AUG.GROSS_PAY IS NULL THEN 0 ELSE AUG.GROSS_PAY END AUG_GROSS_PAY,
        CASE WHEN AUG.UNEMPLOY_INSURANCE IS NULL THEN 0 ELSE AUG.UNEMPLOY_INSURANCE END AUG_UNEMPLOY_INSURANCE,
        CASE WHEN AUG.HOUSEPOVIDENT_FUND IS NULL THEN 0 ELSE AUG.HOUSEPOVIDENT_FUND END AUG_HOUSEPOVIDENT_FUND,
        CASE WHEN AUG.WELFARE_AMOUNT_SALARIES IS NULL THEN 0 ELSE AUG.WELFARE_AMOUNT_SALARIES END AUG_WELFARE_AMOUNT_SALARIES,
        CASE WHEN AUG.WELFARE_AMOUNT_BONUS IS NULL THEN 0 ELSE AUG.WELFARE_AMOUNT_BONUS END AUG_WELFARE_AMOUNT_BONUS,
        CASE WHEN AUG.WELFARE_AMOUNT_WEAL IS NULL THEN 0 ELSE AUG.WELFARE_AMOUNT_WEAL END AUG_WELFARE_AMOUNT_WEAL,
        CASE WHEN AUG.IAF IS NULL THEN 0 ELSE AUG.IAF END AUG_IAF,
        CASE WHEN AUG.SUBTOTAL IS NULL THEN 0 ELSE AUG.SUBTOTAL END AUG_SUBTOTAL,
        CASE WHEN SEP.HRM_NUMBER IS NULL THEN 0 ELSE SEP.HRM_NUMBER END SEP_HRM_NUMBER,
        CASE WHEN SEP.GROSS_PAY IS NULL THEN 0 ELSE SEP.GROSS_PAY END SEP_GROSS_PAY,
        CASE WHEN SEP.UNEMPLOY_INSURANCE IS NULL THEN 0 ELSE SEP.UNEMPLOY_INSURANCE END SEP_UNEMPLOY_INSURANCE,
        CASE WHEN SEP.HOUSEPOVIDENT_FUND IS NULL THEN 0 ELSE SEP.HOUSEPOVIDENT_FUND END SEP_HOUSEPOVIDENT_FUND,
        CASE WHEN SEP.WELFARE_AMOUNT_SALARIES IS NULL THEN 0 ELSE SEP.WELFARE_AMOUNT_SALARIES END SEP_WELFARE_AMOUNT_SALARIES,
        CASE WHEN SEP.WELFARE_AMOUNT_BONUS IS NULL THEN 0 ELSE SEP.WELFARE_AMOUNT_BONUS END SEP_WELFARE_AMOUNT_BONUS,
        CASE WHEN SEP.WELFARE_AMOUNT_WEAL IS NULL THEN 0 ELSE SEP.WELFARE_AMOUNT_WEAL END SEP_WELFARE_AMOUNT_WEAL,
        CASE WHEN SEP.IAF IS NULL THEN 0 ELSE SEP.IAF END SEP_IAF,
        CASE WHEN SEP.SUBTOTAL IS NULL THEN 0 ELSE SEP.SUBTOTAL END SEP_SUBTOTAL,
        CASE WHEN OCT.HRM_NUMBER IS NULL THEN 0 ELSE OCT.HRM_NUMBER END OCT_HRM_NUMBER,
        CASE WHEN OCT.GROSS_PAY IS NULL THEN 0 ELSE OCT.GROSS_PAY END OCT_GROSS_PAY,
        CASE WHEN OCT.UNEMPLOY_INSURANCE IS NULL THEN 0 ELSE OCT.UNEMPLOY_INSURANCE END OCT_UNEMPLOY_INSURANCE,
        CASE WHEN OCT.HOUSEPOVIDENT_FUND IS NULL THEN 0 ELSE OCT.HOUSEPOVIDENT_FUND END OCT_HOUSEPOVIDENT_FUND,
        CASE WHEN OCT.WELFARE_AMOUNT_SALARIES IS NULL THEN 0 ELSE OCT.WELFARE_AMOUNT_SALARIES END OCT_WELFARE_AMOUNT_SALARIES,
        CASE WHEN OCT.WELFARE_AMOUNT_BONUS IS NULL THEN 0 ELSE OCT.WELFARE_AMOUNT_BONUS END OCT_WELFARE_AMOUNT_BONUS,
        CASE WHEN OCT.WELFARE_AMOUNT_WEAL IS NULL THEN 0 ELSE OCT.WELFARE_AMOUNT_WEAL END OCT_WELFARE_AMOUNT_WEAL,
        CASE WHEN OCT.IAF IS NULL THEN 0 ELSE OCT.IAF END OCT_IAF,
        CASE WHEN OCT.SUBTOTAL IS NULL THEN 0 ELSE OCT.SUBTOTAL END OCT_SUBTOTAL,
        CASE WHEN NOV.HRM_NUMBER IS NULL THEN 0 ELSE NOV.HRM_NUMBER END NOV_HRM_NUMBER,
        CASE WHEN NOV.GROSS_PAY IS NULL THEN 0 ELSE NOV.GROSS_PAY END NOV_GROSS_PAY,
        CASE WHEN NOV.UNEMPLOY_INSURANCE IS NULL THEN 0 ELSE NOV.UNEMPLOY_INSURANCE END NOV_UNEMPLOY_INSURANCE,
        CASE WHEN NOV.HOUSEPOVIDENT_FUND IS NULL THEN 0 ELSE NOV.HOUSEPOVIDENT_FUND END NOV_HOUSEPOVIDENT_FUND,
        CASE WHEN NOV.WELFARE_AMOUNT_SALARIES IS NULL THEN 0 ELSE NOV.WELFARE_AMOUNT_SALARIES END NOV_WELFARE_AMOUNT_SALARIES,
        CASE WHEN NOV.WELFARE_AMOUNT_BONUS IS NULL THEN 0 ELSE NOV.WELFARE_AMOUNT_BONUS END NOV_WELFARE_AMOUNT_BONUS,
        CASE WHEN NOV.WELFARE_AMOUNT_WEAL IS NULL THEN 0 ELSE NOV.WELFARE_AMOUNT_WEAL END NOV_WELFARE_AMOUNT_WEAL,
        CASE WHEN NOV.IAF IS NULL THEN 0 ELSE NOV.IAF END NOV_IAF,
        CASE WHEN NOV.SUBTOTAL IS NULL THEN 0 ELSE NOV.SUBTOTAL END NOV_SUBTOTAL,
        CASE WHEN DEC.HRM_NUMBER IS NULL THEN 0 ELSE DEC.HRM_NUMBER END DEC_HRM_NUMBER,
        CASE WHEN DEC.GROSS_PAY IS NULL THEN 0 ELSE DEC.GROSS_PAY END DEC_GROSS_PAY,
        CASE WHEN DEC.UNEMPLOY_INSURANCE IS NULL THEN 0 ELSE DEC.UNEMPLOY_INSURANCE END DEC_UNEMPLOY_INSURANCE,
        CASE WHEN DEC.HOUSEPOVIDENT_FUND IS NULL THEN 0 ELSE DEC.HOUSEPOVIDENT_FUND END DEC_HOUSEPOVIDENT_FUND,
        CASE WHEN DEC.WELFARE_AMOUNT_SALARIES IS NULL THEN 0 ELSE DEC.WELFARE_AMOUNT_SALARIES END DEC_WELFARE_AMOUNT_SALARIES,
        CASE WHEN DEC.WELFARE_AMOUNT_BONUS IS NULL THEN 0 ELSE DEC.WELFARE_AMOUNT_BONUS END DEC_WELFARE_AMOUNT_BONUS,
        CASE WHEN DEC.WELFARE_AMOUNT_WEAL IS NULL THEN 0 ELSE DEC.WELFARE_AMOUNT_WEAL END DEC_WELFARE_AMOUNT_WEAL,
        CASE WHEN DEC.IAF IS NULL THEN 0 ELSE DEC.IAF END DEC_IAF,
        CASE WHEN DEC.SUBTOTAL IS NULL THEN 0 ELSE DEC.SUBTOTAL END DEC_SUBTOTAL,
        CASE WHEN HALF.HRM_NUMBER IS NULL THEN 0 ELSE HALF.HRM_NUMBER END HALF_HRM_NUMBER,
        CASE WHEN HALF.GROSS_PAY IS NULL THEN 0 ELSE HALF.GROSS_PAY END HALF_GROSS_PAY,
        CASE WHEN HALF.UNEMPLOY_INSURANCE IS NULL THEN 0 ELSE HALF.UNEMPLOY_INSURANCE END HALF_UNEMPLOY_INSURANCE,
        CASE WHEN HALF.HOUSEPOVIDENT_FUND IS NULL THEN 0 ELSE HALF.HOUSEPOVIDENT_FUND END HALF_HOUSEPOVIDENT_FUND,
        CASE WHEN HALF.WELFARE_AMOUNT_SALARIES IS NULL THEN 0 ELSE HALF.WELFARE_AMOUNT_SALARIES END HALF_WELFARE_AMOUNT_SALARIES,
        CASE WHEN HALF.WELFARE_AMOUNT_BONUS IS NULL THEN 0 ELSE HALF.WELFARE_AMOUNT_BONUS END HALF_WELFARE_AMOUNT_BONUS,
        CASE WHEN HALF.WELFARE_AMOUNT_WEAL IS NULL THEN 0 ELSE HALF.WELFARE_AMOUNT_WEAL END HALF_WELFARE_AMOUNT_WEAL,
        CASE WHEN HALF.IAF IS NULL THEN 0 ELSE HALF.IAF END HALF_IAF,
        CASE WHEN HALF.SUBTOTAL IS NULL THEN 0 ELSE HALF.SUBTOTAL END HALF_SUBTOTAL,
        CASE WHEN WHOLE.HRM_NUMBER IS NULL THEN 0 ELSE WHOLE.HRM_NUMBER END WHOLE_HRM_NUMBER,
        CASE WHEN WHOLE.GROSS_PAY IS NULL THEN 0 ELSE WHOLE.GROSS_PAY END WHOLE_GROSS_PAY,
        CASE WHEN WHOLE.UNEMPLOY_INSURANCE IS NULL THEN 0 ELSE WHOLE.UNEMPLOY_INSURANCE END WHOLE_UNEMPLOY_INSURANCE,
        CASE WHEN WHOLE.HOUSEPOVIDENT_FUND IS NULL THEN 0 ELSE WHOLE.HOUSEPOVIDENT_FUND END WHOLE_HOUSEPOVIDENT_FUND,
        CASE WHEN WHOLE.WELFARE_AMOUNT_SALARIES IS NULL THEN 0 ELSE WHOLE.WELFARE_AMOUNT_SALARIES END WHOLE_WELFARE_AMOUNT_SALARIES,
        CASE WHEN WHOLE.WELFARE_AMOUNT_BONUS IS NULL THEN 0 ELSE WHOLE.WELFARE_AMOUNT_BONUS END WHOLE_WELFARE_AMOUNT_BONUS,
        CASE WHEN WHOLE.WELFARE_AMOUNT_WEAL IS NULL THEN 0 ELSE WHOLE.WELFARE_AMOUNT_WEAL END WHOLE_WELFARE_AMOUNT_WEAL,
        CASE WHEN WHOLE.IAF IS NULL THEN 0 ELSE WHOLE.IAF END WHOLE_IAF,
        CASE WHEN WHOLE.SUBTOTAL IS NULL THEN 0 ELSE WHOLE.SUBTOTAL END WHOLE_SUBTOTAL
        FROM HRP_FST.AD_DEPART_V@HR_TEST T1
        LEFT JOIN (
            SELECT DEPART_CODE,
            NVL(COUNT(WORKCODE), 0) HRM_NUMBER,
            NVL(SUM(GROSS_PAY), 0) GROSS_PAY,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) UNEMPLOY_INSURANCE,
            NVL(SUM(HOUSEPOVIDENT_FUND), 0) HOUSEPOVIDENT_FUND,
            NVL(SUM(WELFARE_AMOUNT_SALARIES), 0) WELFARE_AMOUNT_SALARIES,
            NVL(SUM(WELFARE_AMOUNT_BONUS), 0) WELFARE_AMOUNT_BONUS,
            NVL(SUM(WELFARE_AMOUNT_WEAL), 0) WELFARE_AMOUNT_WEAL,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) * #{rate} +NVL(SUM(HOUSEPOVIDENT_FUND), 0) IAF,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) * #{rate} +NVL(SUM(HOUSEPOVIDENT_FUND), 0)+NVL(SUM(GROSS_PAY), 0)+NVL(SUM(WELFARE_AMOUNT_SALARIES), 0)+NVL(SUM(WELFARE_AMOUNT_BONUS), 0)+NVL(SUM(WELFARE_AMOUNT_WEAL), 0) SUBTOTAL
            FROM PERSONNEL_SALARY_WITH_DEPT  WHERE SALARY_DATE = concat(#{year},'-01') GROUP BY DEPART_CODE,SALARY_DATE
        ) JAN ON JAN.DEPART_CODE = T1.DEPART_CODE
        LEFT JOIN (
            SELECT DEPART_CODE,
            NVL(COUNT(WORKCODE), 0) HRM_NUMBER,
            NVL(SUM(GROSS_PAY), 0) GROSS_PAY,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) UNEMPLOY_INSURANCE,
            NVL(SUM(HOUSEPOVIDENT_FUND), 0) HOUSEPOVIDENT_FUND,
            NVL(SUM(WELFARE_AMOUNT_SALARIES), 0) WELFARE_AMOUNT_SALARIES,
            NVL(SUM(WELFARE_AMOUNT_BONUS), 0) WELFARE_AMOUNT_BONUS,
            NVL(SUM(WELFARE_AMOUNT_WEAL), 0) WELFARE_AMOUNT_WEAL,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) * #{rate} +NVL(SUM(HOUSEPOVIDENT_FUND), 0) IAF,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) * #{rate} +NVL(SUM(HOUSEPOVIDENT_FUND), 0)+NVL(SUM(GROSS_PAY), 0)+NVL(SUM(WELFARE_AMOUNT_SALARIES), 0)+NVL(SUM(WELFARE_AMOUNT_BONUS), 0)+NVL(SUM(WELFARE_AMOUNT_WEAL), 0) SUBTOTAL
            FROM PERSONNEL_SALARY_WITH_DEPT  WHERE SALARY_DATE = concat(#{year},'-02') GROUP BY DEPART_CODE,SALARY_DATE
        ) FEB ON FEB.DEPART_CODE = T1.DEPART_CODE
        LEFT JOIN (
            SELECT DEPART_CODE,
            NVL(COUNT(WORKCODE), 0) HRM_NUMBER,
            NVL(SUM(GROSS_PAY), 0) GROSS_PAY,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) UNEMPLOY_INSURANCE,
            NVL(SUM(HOUSEPOVIDENT_FUND), 0) HOUSEPOVIDENT_FUND,
            NVL(SUM(WELFARE_AMOUNT_SALARIES), 0) WELFARE_AMOUNT_SALARIES,
            NVL(SUM(WELFARE_AMOUNT_BONUS), 0) WELFARE_AMOUNT_BONUS,
            NVL(SUM(WELFARE_AMOUNT_WEAL), 0) WELFARE_AMOUNT_WEAL,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) * #{rate} +NVL(SUM(HOUSEPOVIDENT_FUND), 0) IAF,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) * #{rate} +NVL(SUM(HOUSEPOVIDENT_FUND), 0)+NVL(SUM(GROSS_PAY), 0)+NVL(SUM(WELFARE_AMOUNT_SALARIES), 0)+NVL(SUM(WELFARE_AMOUNT_BONUS), 0)+NVL(SUM(WELFARE_AMOUNT_WEAL), 0) SUBTOTAL
            FROM PERSONNEL_SALARY_WITH_DEPT  WHERE SALARY_DATE = concat(#{year},'-03') GROUP BY DEPART_CODE,SALARY_DATE
        ) MAR ON MAR.DEPART_CODE = T1.DEPART_CODE
        LEFT JOIN (
            SELECT DEPART_CODE,
            NVL(COUNT(WORKCODE), 0) HRM_NUMBER,
            NVL(SUM(GROSS_PAY), 0) GROSS_PAY,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) UNEMPLOY_INSURANCE,
            NVL(SUM(HOUSEPOVIDENT_FUND), 0) HOUSEPOVIDENT_FUND,
            NVL(SUM(WELFARE_AMOUNT_SALARIES), 0) WELFARE_AMOUNT_SALARIES,
            NVL(SUM(WELFARE_AMOUNT_BONUS), 0) WELFARE_AMOUNT_BONUS,
            NVL(SUM(WELFARE_AMOUNT_WEAL), 0) WELFARE_AMOUNT_WEAL,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) * #{rate} +NVL(SUM(HOUSEPOVIDENT_FUND), 0) IAF,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) * #{rate} +NVL(SUM(HOUSEPOVIDENT_FUND), 0)+NVL(SUM(GROSS_PAY), 0)+NVL(SUM(WELFARE_AMOUNT_SALARIES), 0)+NVL(SUM(WELFARE_AMOUNT_BONUS), 0)+NVL(SUM(WELFARE_AMOUNT_WEAL), 0) SUBTOTAL
            FROM PERSONNEL_SALARY_WITH_DEPT  WHERE SALARY_DATE = concat(#{year},'-04') GROUP BY DEPART_CODE,SALARY_DATE
        ) APR ON APR.DEPART_CODE = T1.DEPART_CODE
        LEFT JOIN (
            SELECT DEPART_CODE,SALARY_DATE,
                COUNT(WORKCODE) HRM_NUMBER,
                SUM(GROSS_PAY) GROSS_PAY,
                SUM(UNEMPLOY_INSURANCE) UNEMPLOY_INSURANCE,
                SUM(HOUSEPOVIDENT_FUND) HOUSEPOVIDENT_FUND,
                SUM(WELFARE_AMOUNT_SALARIES) WELFARE_AMOUNT_SALARIES,
                SUM(WELFARE_AMOUNT_BONUS) WELFARE_AMOUNT_BONUS,
                SUM(WELFARE_AMOUNT_WEAL) WELFARE_AMOUNT_WEAL,
                SUM(UNEMPLOY_INSURANCE) * #{rate} + SUM(HOUSEPOVIDENT_FUND) IAF,
                SUM(UNEMPLOY_INSURANCE) * #{rate} + SUM(HOUSEPOVIDENT_FUND) + SUM(GROSS_PAY) + SUM(WELFARE_AMOUNT_SALARIES) + SUM(WELFARE_AMOUNT_BONUS) + SUM(WELFARE_AMOUNT_WEAL) SUBTOTAL
            FROM PERSONNEL_SALARY_WITH_DEPT  WHERE SALARY_DATE = concat(#{year},'-05') GROUP BY DEPART_CODE,SALARY_DATE
        ) MAY ON MAY.DEPART_CODE = T1.DEPART_CODE
        LEFT JOIN (
            SELECT DEPART_CODE,
            NVL(COUNT(WORKCODE), 0) HRM_NUMBER,
            NVL(SUM(GROSS_PAY), 0) GROSS_PAY,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) UNEMPLOY_INSURANCE,
            NVL(SUM(HOUSEPOVIDENT_FUND), 0) HOUSEPOVIDENT_FUND,
            NVL(SUM(WELFARE_AMOUNT_SALARIES), 0) WELFARE_AMOUNT_SALARIES,
            NVL(SUM(WELFARE_AMOUNT_BONUS), 0) WELFARE_AMOUNT_BONUS,
            NVL(SUM(WELFARE_AMOUNT_WEAL), 0) WELFARE_AMOUNT_WEAL,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) * #{rate} +NVL(SUM(HOUSEPOVIDENT_FUND), 0) IAF,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) * #{rate} +NVL(SUM(HOUSEPOVIDENT_FUND), 0)+NVL(SUM(GROSS_PAY), 0)+NVL(SUM(WELFARE_AMOUNT_SALARIES), 0)+NVL(SUM(WELFARE_AMOUNT_BONUS), 0)+NVL(SUM(WELFARE_AMOUNT_WEAL), 0) SUBTOTAL
            FROM PERSONNEL_SALARY_WITH_DEPT  WHERE SALARY_DATE = concat(#{year},'-06') GROUP BY DEPART_CODE,SALARY_DATE
        ) JUN ON JUN.DEPART_CODE = T1.DEPART_CODE
        LEFT JOIN (
            SELECT DEPART_CODE,
            NVL(COUNT(WORKCODE), 0) HRM_NUMBER,
            NVL(SUM(GROSS_PAY), 0) GROSS_PAY,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) UNEMPLOY_INSURANCE,
            NVL(SUM(HOUSEPOVIDENT_FUND), 0) HOUSEPOVIDENT_FUND,
            NVL(SUM(WELFARE_AMOUNT_SALARIES), 0) WELFARE_AMOUNT_SALARIES,
            NVL(SUM(WELFARE_AMOUNT_BONUS), 0) WELFARE_AMOUNT_BONUS,
            NVL(SUM(WELFARE_AMOUNT_WEAL), 0) WELFARE_AMOUNT_WEAL,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) * #{rate} +NVL(SUM(HOUSEPOVIDENT_FUND), 0) IAF,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) * #{rate} +NVL(SUM(HOUSEPOVIDENT_FUND), 0)+NVL(SUM(GROSS_PAY), 0)+NVL(SUM(WELFARE_AMOUNT_SALARIES), 0)+NVL(SUM(WELFARE_AMOUNT_BONUS), 0)+NVL(SUM(WELFARE_AMOUNT_WEAL), 0) SUBTOTAL
            FROM PERSONNEL_SALARY_WITH_DEPT  WHERE SALARY_DATE = concat(#{year},'-07') GROUP BY DEPART_CODE,SALARY_DATE
        ) JUL ON JUL.DEPART_CODE = T1.DEPART_CODE
        LEFT JOIN (
            SELECT DEPART_CODE,
            NVL(COUNT(WORKCODE), 0) HRM_NUMBER,
            NVL(SUM(GROSS_PAY), 0) GROSS_PAY,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) UNEMPLOY_INSURANCE,
            NVL(SUM(HOUSEPOVIDENT_FUND), 0) HOUSEPOVIDENT_FUND,
            NVL(SUM(WELFARE_AMOUNT_SALARIES), 0) WELFARE_AMOUNT_SALARIES,
            NVL(SUM(WELFARE_AMOUNT_BONUS), 0) WELFARE_AMOUNT_BONUS,
            NVL(SUM(WELFARE_AMOUNT_WEAL), 0) WELFARE_AMOUNT_WEAL,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) * #{rate} +NVL(SUM(HOUSEPOVIDENT_FUND), 0) IAF,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) * #{rate} +NVL(SUM(HOUSEPOVIDENT_FUND), 0)+NVL(SUM(GROSS_PAY), 0)+NVL(SUM(WELFARE_AMOUNT_SALARIES), 0)+NVL(SUM(WELFARE_AMOUNT_BONUS), 0)+NVL(SUM(WELFARE_AMOUNT_WEAL), 0) SUBTOTAL
            FROM PERSONNEL_SALARY_WITH_DEPT  WHERE SALARY_DATE = concat(#{year},'-08') GROUP BY DEPART_CODE,SALARY_DATE
        ) AUG ON AUG.DEPART_CODE = T1.DEPART_CODE
        LEFT JOIN (
            SELECT DEPART_CODE,
            NVL(COUNT(WORKCODE), 0) HRM_NUMBER,
            NVL(SUM(GROSS_PAY), 0) GROSS_PAY,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) UNEMPLOY_INSURANCE,
            NVL(SUM(HOUSEPOVIDENT_FUND), 0) HOUSEPOVIDENT_FUND,
            NVL(SUM(WELFARE_AMOUNT_SALARIES), 0) WELFARE_AMOUNT_SALARIES,
            NVL(SUM(WELFARE_AMOUNT_BONUS), 0) WELFARE_AMOUNT_BONUS,
            NVL(SUM(WELFARE_AMOUNT_WEAL), 0) WELFARE_AMOUNT_WEAL,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) * #{rate} +NVL(SUM(HOUSEPOVIDENT_FUND), 0) IAF,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) * #{rate} +NVL(SUM(HOUSEPOVIDENT_FUND), 0)+NVL(SUM(GROSS_PAY), 0)+NVL(SUM(WELFARE_AMOUNT_SALARIES), 0)+NVL(SUM(WELFARE_AMOUNT_BONUS), 0)+NVL(SUM(WELFARE_AMOUNT_WEAL), 0) SUBTOTAL
            FROM PERSONNEL_SALARY_WITH_DEPT  WHERE SALARY_DATE = concat(#{year},'-09') GROUP BY DEPART_CODE,SALARY_DATE
        ) SEP ON SEP.DEPART_CODE = T1.DEPART_CODE
        LEFT JOIN (
            SELECT DEPART_CODE,SALARY_DATE,
                COUNT(WORKCODE) HRM_NUMBER,
                SUM(GROSS_PAY) GROSS_PAY,
                SUM(UNEMPLOY_INSURANCE) UNEMPLOY_INSURANCE,
                SUM(HOUSEPOVIDENT_FUND) HOUSEPOVIDENT_FUND,
                SUM(WELFARE_AMOUNT_SALARIES) WELFARE_AMOUNT_SALARIES,
                SUM(WELFARE_AMOUNT_BONUS) WELFARE_AMOUNT_BONUS,
                SUM(WELFARE_AMOUNT_WEAL) WELFARE_AMOUNT_WEAL,
                SUM(UNEMPLOY_INSURANCE) * #{rate} + SUM(HOUSEPOVIDENT_FUND) IAF,
                SUM(UNEMPLOY_INSURANCE) * #{rate} + SUM(HOUSEPOVIDENT_FUND) + SUM(GROSS_PAY) + SUM(WELFARE_AMOUNT_SALARIES) + SUM(WELFARE_AMOUNT_BONUS) + SUM(WELFARE_AMOUNT_WEAL) SUBTOTAL
            FROM PERSONNEL_SALARY_WITH_DEPT  WHERE SALARY_DATE = concat(#{year},'-10') GROUP BY DEPART_CODE,SALARY_DATE
        ) OCT ON OCT.DEPART_CODE = T1.DEPART_CODE
        LEFT JOIN (
            SELECT DEPART_CODE,SALARY_DATE,
                COUNT(WORKCODE) HRM_NUMBER,
                SUM(GROSS_PAY) GROSS_PAY,
                SUM(UNEMPLOY_INSURANCE) UNEMPLOY_INSURANCE,
                SUM(HOUSEPOVIDENT_FUND) HOUSEPOVIDENT_FUND,
                SUM(WELFARE_AMOUNT_SALARIES) WELFARE_AMOUNT_SALARIES,
                SUM(WELFARE_AMOUNT_BONUS) WELFARE_AMOUNT_BONUS,
                SUM(WELFARE_AMOUNT_WEAL) WELFARE_AMOUNT_WEAL,
                SUM(UNEMPLOY_INSURANCE) * #{rate} + SUM(HOUSEPOVIDENT_FUND) IAF,
                SUM(UNEMPLOY_INSURANCE) * #{rate} + SUM(HOUSEPOVIDENT_FUND) + SUM(GROSS_PAY) + SUM(WELFARE_AMOUNT_SALARIES) + SUM(WELFARE_AMOUNT_BONUS) + SUM(WELFARE_AMOUNT_WEAL) SUBTOTAL
            FROM PERSONNEL_SALARY_WITH_DEPT  WHERE SALARY_DATE = concat(#{year},'-11') GROUP BY DEPART_CODE,SALARY_DATE
        ) NOV ON NOV.DEPART_CODE = T1.DEPART_CODE
        LEFT JOIN (
            SELECT DEPART_CODE,
            NVL(COUNT(WORKCODE), 0) HRM_NUMBER,
            NVL(SUM(GROSS_PAY), 0) GROSS_PAY,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) UNEMPLOY_INSURANCE,
            NVL(SUM(HOUSEPOVIDENT_FUND), 0) HOUSEPOVIDENT_FUND,
            NVL(SUM(WELFARE_AMOUNT_SALARIES), 0) WELFARE_AMOUNT_SALARIES,
            NVL(SUM(WELFARE_AMOUNT_BONUS), 0) WELFARE_AMOUNT_BONUS,
            NVL(SUM(WELFARE_AMOUNT_WEAL), 0) WELFARE_AMOUNT_WEAL,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) * #{rate} +NVL(SUM(HOUSEPOVIDENT_FUND), 0) IAF,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) * #{rate} +NVL(SUM(HOUSEPOVIDENT_FUND), 0)+NVL(SUM(GROSS_PAY), 0)+NVL(SUM(WELFARE_AMOUNT_SALARIES), 0)+NVL(SUM(WELFARE_AMOUNT_BONUS), 0)+NVL(SUM(WELFARE_AMOUNT_WEAL), 0) SUBTOTAL
            FROM PERSONNEL_SALARY_WITH_DEPT  WHERE SALARY_DATE = concat(#{year},'-12') GROUP BY DEPART_CODE,SALARY_DATE
        ) DEC ON DEC.DEPART_CODE = T1.DEPART_CODE
        LEFT JOIN (
            SELECT DEPART_CODE,
            NVL(COUNT(WORKCODE), 0) HRM_NUMBER,
            NVL(SUM(GROSS_PAY), 0) GROSS_PAY,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) UNEMPLOY_INSURANCE,
            NVL(SUM(HOUSEPOVIDENT_FUND), 0) HOUSEPOVIDENT_FUND,
            NVL(SUM(WELFARE_AMOUNT_SALARIES), 0) WELFARE_AMOUNT_SALARIES,
            NVL(SUM(WELFARE_AMOUNT_BONUS), 0) WELFARE_AMOUNT_BONUS,
            NVL(SUM(WELFARE_AMOUNT_WEAL), 0) WELFARE_AMOUNT_WEAL,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) * #{rate} +NVL(SUM(HOUSEPOVIDENT_FUND), 0) IAF,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) * #{rate} +NVL(SUM(HOUSEPOVIDENT_FUND), 0)+NVL(SUM(GROSS_PAY), 0)+NVL(SUM(WELFARE_AMOUNT_SALARIES), 0)+NVL(SUM(WELFARE_AMOUNT_BONUS), 0)+NVL(SUM(WELFARE_AMOUNT_WEAL), 0) SUBTOTAL
            FROM PERSONNEL_SALARY_WITH_DEPT  WHERE SALARY_DATE in (concat(#{year},'-01'),concat(#{year},'-02'),concat(#{year},'-03'),concat(#{year},'-04'),concat(#{year},'-05'),concat(#{year},'-06')) GROUP BY DEPART_CODE
        ) HALF ON HALF.DEPART_CODE = T1.DEPART_CODE
        LEFT JOIN (
            SELECT DEPART_CODE,
            NVL(COUNT(WORKCODE), 0) HRM_NUMBER,
            NVL(SUM(GROSS_PAY), 0) GROSS_PAY,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) UNEMPLOY_INSURANCE,
            NVL(SUM(HOUSEPOVIDENT_FUND), 0) HOUSEPOVIDENT_FUND,
            NVL(SUM(WELFARE_AMOUNT_SALARIES), 0) WELFARE_AMOUNT_SALARIES,
            NVL(SUM(WELFARE_AMOUNT_BONUS), 0) WELFARE_AMOUNT_BONUS,
            NVL(SUM(WELFARE_AMOUNT_WEAL), 0) WELFARE_AMOUNT_WEAL,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) * #{rate} +NVL(SUM(HOUSEPOVIDENT_FUND), 0) IAF,
            NVL(SUM(UNEMPLOY_INSURANCE), 0) * #{rate} +NVL(SUM(HOUSEPOVIDENT_FUND), 0)+NVL(SUM(GROSS_PAY), 0)+NVL(SUM(WELFARE_AMOUNT_SALARIES), 0)+NVL(SUM(WELFARE_AMOUNT_BONUS), 0)+NVL(SUM(WELFARE_AMOUNT_WEAL), 0) SUBTOTAL
            FROM PERSONNEL_SALARY_WITH_DEPT  WHERE SALARY_DATE LIKE concat(#{year},'-%') GROUP BY DEPART_CODE
        ) WHOLE ON WHOLE.DEPART_CODE = T1.DEPART_CODE
        WHERE T1.PARENTCODE = '000000000' OR T1.DEPART_CODE = '000000000'
    </select>
</mapper>