<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="business.mapper.PersonnelWelfareMapper">
    <select id="getPersonnelWelfare" resultType="business.vo.PersonnelWelfareVO">
        SELECT
        t1.*,t2.hr_name
        FROM
        personnel_welfare t1
        LEFT JOIN hrp_fst.ad_employee_v@hr_test t2 ON t1.workcode =t2.hr_no
        order by welfare_date desc,id desc
        ${ew.customSqlSegment}
    </select>

    <select id="getMonthlyLaborCost" resultType="Map">
        select sum(welfare_amount_salaries) welfare_amount_salaries,
        sum(welfare_amount_bonus) welfare_amount_bonus,
        sum(welfare_amount_weal) welfare_amount_weal
        from personnel_welfare
        where welfare_date = #{month}
    </select>

    <select id="getYearlyLaborCost" resultType="Map">
        select sum(welfare_amount_salaries) welfare_amount_salaries,
        sum(welfare_amount_bonus) welfare_amount_bonus,
        sum(welfare_amount_weal) welfare_amount_weal
        from personnel_welfare
        where welfare_date like concat(#{year},'-%')
    </select>
    <select id="getMonthlyWelfareSingle" resultType="Map">
            select workcode,welfare_date,sum(welfare_amount_salaries) welfare_amount_salaries,sum(welfare_amount_bonus) welfare_amount_bonus,sum(welfare_amount_weal) welfare_amount_weal from personnel_welfare
            group by workcode,welfare_date
            where welfare_date = #{month}
    </select>
</mapper>