<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="business.mapper.PersonnelSalaryMapper">
    <select id="getPersonnelSalary" resultType="business.vo.PersonnelSalaryVO">
        SELECT
        t1.*,t2.lastname
        FROM
        personnel_salary t1
        LEFT JOIN hrmresource t2 ON t1.workcode =t2.workcode
        order by t1.id desc
        ${ew.customSqlSegment}
    </select>

    <select id="getSalaryBetweenMonth" resultType="Map">
        select sum(NET_SALARY) NET_SALARY,SALARY_DATE from personnel_salary where 1=1
        <if test="endDate != null">
            and SALARY_DATE &lt;= #{endDate}
        </if>
        <if test="staDate != null">
            and SALARY_DATE &gt;= #{staDate}
        </if>
        group by SALARY_DATE
        ORDER BY SALARY_DATE
    </select>

    <select id="getSalaryByMonth" resultType="Map">
        select sum(NET_SALARY) NET_SALARY,SALARY_DATE from personnel_salary where SALARY_DATE = #{month}
        group by SALARY_DATE
    </select>

    <select id="getImportNumberByMonth" resultType="Map">
        select count(*) IMPORT_NUMBER,SALARY_DATE from personnel_salary where SALARY_DATE = #{month}
        group by SALARY_DATE
    </select>

    <select id="getSalaryRankByDepartment" resultType="Map">
        select u1.totalnumber,u2.departmentname
        from (
            select sum(t1.NET_SALARY) totalnumber,t2.DEPARTMENTID
            from PERSONNEL_SALARY t1
            left join HRMRESOURCE t2 on t1.WORKCODE = t2.WORKCODE
            group by t2.DEPARTMENTID
            ORDER BY totalnumber desc) u1
        left join HrmDepartment u2 on u1.departmentid = u2.id
        where u2.id is not null and rownum &lt;9
    </select>
</mapper>