<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="business.mapper.SalaryReportConfigMapper">

<select id="getSalaryReportConfig" resultType="business.bean.SalaryReportConfig">
    select * from SALARY_REPORT_CONFIG where tab_id = #{tabId}
    <if test="site != ''">
        and site = #{site}
    </if>
    order by site,sort
</select>

<select id="getSalaryReportConfigIsTotal" resultType="business.bean.SalaryReportConfig">
     select * from SALARY_REPORT_CONFIG where tab_id = #{tabId} and is_total=1
    <if test="site != ''">
     and site = #{site}
    </if>
    order by site,sort
</select>

<select id="getSalaryReportConfigNoTotal" resultType="business.bean.SalaryReportConfig">
    select * from SALARY_REPORT_CONFIG where tab_id = #{tabId} and is_total!=1
    <if test="site != ''">
        and site = #{site}
    </if>
    order by site,sort
</select>

<select id="getSiteInfoByConfigure" resultType="Map">
    select * from SALARY_SUBDEPT_CONFIG where 1=1
    <if test="site != ''">
        and id = #{site}
    </if>
    order by sort
</select>

<select id="getSalaryReportConfigList" resultType="business.bean.SalaryReportConfig">
    select t1.ID, t1.STAGE,t2.SUB_NAME as SITE,t1.DEPART_NAME,t1.SORT,t1.TAB_ID,t1.IS_TOTAL from SALARY_REPORT_CONFIG t1
    left join SALARY_SUBDEPT_CONFIG t2   on t1.site=t2.id
    ${ew.customSqlSegment}
    order by t1.tab_id,t1.sort
</select>

<select id="getStageGroup" resultType="Map">
    SELECT COUNT(STAGE) STAGENUMBER,STAGE FROM SALARY_REPORT_CONFIG where TAB_ID = #{tabId}
    <if test="site != ''">
    AND SITE =#{site}
    </if>
    GROUP BY STAGE
</select>
</mapper>