<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="business.mapper.SalaryReportConfigMapper">
<select id="getSalaryReportConfig" resultType="business.bean.SalaryReportConfig">
     select * from SALARY_REPORT_CONFIG where site = #{site} and tab_id = #{tabId} order by id
</select>
<select id="getSalaryReportConfigList" resultType="business.bean.SalaryReportConfig">
    select t1.ID, t1.STAGE,t2.label as SITE,t1.DEPART_NAME,t1.SORT,t1.TAB_ID from SALARY_REPORT_CONFIG t1
    left join  (select DEPART_CODE,DEPART_NAME as label,DEPARTID,PARENTCODE as pid , CONCAT(CONCAT(DEPART_CODE,'_'),PARENTCODE) as value  from
    hrp_fst.AD_DEPART_V@hr_test where status='N' and DEPART_NAME is not null) t2 on t1.site=t2.DEPART_CODE
    ${ew.customSqlSegment}
    order by t1.tab_id,t1.sort
</select>
<select id="getStageGroup" resultType="Map">
    SELECT COUNT(STAGE) STAGENUMBER,STAGE FROM SALARY_REPORT_CONFIG where TAB_ID = #{tabId} AND SITE =#{site} GROUP BY STAGE
</select>
</mapper>